@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }
}

html {
  transition: background-color 0.3s, color 0.3s;
}
